body{ 
background-image: url(../images/picture1.jpg);
background-size:1600px 1200px;
}
p {
	color: white;
	text-align: left;
	font-size: 30px;
	font-family: arial;
}
h1 {
		  
		  color: green; 
		  font-size:20px;
		
		}
		h2 {
			color: green;
		}
		li{
	font-size: 20px;
	color: white;
}
	